.formWrapper {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    height: 100%;
}

.field {
    margin-bottom: 1rem;
}

.difficulty {
    padding: 0 10px;
    flex-basis: calc(100% / 3);
}