.playerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    justify-content: flex-start;
    margin-bottom: 3px;
  }

  &:last-child {
    justify-content: flex-end;
    margin-top: 3px;
  }
}

.playerWrapper.bottomSide {
  //justify-content: flex-end;
}

.playerName {
  color: var(--tg-theme-text-color);
  font-size: 18px;
  font-weight: 500;
}

.playerTime {
  color: var(--tg-theme-text-color);
  font-size: 18px;
  font-weight: 600;
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
}