#root {
    height: 100%;
    width: 100%;
    position: relative;
}

.title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    color: var(--tg-theme-text-color);
    margin-bottom: 1rem;
}

.title-sm {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.mantine-Modal-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mainIcon {
    font-size: 24px;
}